# Jetbrain IDE's folder
.idea/

# Microsoft IDE
.vs
.vscode

# Premake
Premake

# CMake
cmake-build-*
CMakeFiles
.ninja*
build.ninja
compile_commands.json
Testing
CMakeCache.txt

# Project files
Solution
*.vcxproj
*.vcxproj.*
*.cmake
*.sln
*.slnx
*.vs2026
Makefile
*.make
*.cmake
CMakeLists.txt

# Generated
Temp

# Binaries
Binaries
Intermediates

# Sample content
Samples/Scenes