[submodule "stb"]
	path = Dependencies/LibSources/stb
	url = https://github.com/nothings/stb
[submodule "imgui"]
	path = Dependencies/LibSources/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "STBImage"]
	path = Dependencies/LibSources/TinyGLTF
	url = https://github.com/syoyo/tinygltf.git
[submodule "CTTI"]
	path = Dependencies/LibSources/ctti
	url = https://github.com/Manu343726/ctti.git
