[submodule "stb"]
	path = Dependencies/LibSources/stb
	url = https://github.com/nothings/stb
[submodule "imgui"]
	path = Dependencies/LibSources/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "STBImage"]
	path = Dependencies/LibSources/TinyGLTF
	url = https://github.com/syoyo/tinygltf.git
[submodule "CTTI"]
	path = Dependencies/LibSources/ctti
	url = https://github.com/Manu343726/ctti.git
[submodule "TinyEXR"]
	path = Dependencies/LibSources/TinyEXR
	url = https://github.com/syoyo/tinyexr.git
[submodule "TinyDDS"]
	path = Dependencies/LibSources/TinyDDS
	url = https://github.com/benikabocha/tinyddsloader.git
[submodule "BCDec"]
	path = Dependencies/LibSources/BCDec
	url = https://github.com/iOrange/bcdec.git
[submodule "Catch2"]
	path = Dependencies/LibSources/Catch2
	url = https://github.com/catchorg/Catch2.git
