# Jetbrain IDE's folder
.idea/

# Microsoft IDE
.vs
.vscode

# Premake
Premake

# Project files
Solution
*.vcxproj
*.vcxproj.*
*.cmake
*.sln
*.slnx
*.vs2026
Makefile
*.make
*.cmake
CMakeLists.txt

# Generated
Temp

# Binaries
Binaries
Intermediates

# Sample content
Samples/Scenes